* {
	font-family: "Open Sans", sans-serif;
	background-color: #DCDCDD;
}

h1 {
	position: relative;
	bottom: 10px;
	text-shadow: 1px 1px 1px #F0F0F0;
}
h2 {
	font-size: 26px;
}
a:link {
	color: #5566BB;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
a:visited {
	color: #224499;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color: #FF9800;
	font-weight: bolder;
	text-decoration: none;
}
p.caption {
	font-weight: lighter;
	font-size: 10px;
	color: #A0A0A0;
	text-decoration: none;
	position: relative;
	margin-left: 20%;
	margin-right: auto;
}
/*
#members thead, #members tbody {
	display:block;
}
#members tbody {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
#members thead {
	width: 100%;
}

#members thead th {
	width: 14%;
}
#members tbody td {
	width: 14%;
}


#members td {
	font-size: 14px;
	color: #4C5C68;
	border-bottom: 1px solid #4C5C68;
	padding: 9px 8px 2px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#members tr:hover td {
	color: #1985A1;
	background-color: #C5C3C6;
}
#members th {
	font-size: 18px;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid #46494C;
	overflow: hidden;
	text-overflow: ellipsis;
}
#members {
	table-layout: fixed;
	white-space: nowrap;
	text-align: left;
	width: 100%;
	padding: 15px;
	position: relative;
	bottom: 20px;
	font-size: 16px;
	background-color: #C5C3C6;
	border-collapse: collapse;
}*/
#members caption, #ra-promo caption,
#ra-kicks caption, #rse-promo caption,
#rse-kicks caption, #snoo-promo caption,
#snoo-kicks caption, #rising-promo caption,
#rising-kicks caption, #match-table caption {
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #F0F0F0;
	text-align: center;
}
#members td, #ra-promo td, #ra-kicks td,
#rse-promo td, #rse-kicks td,
#snoo-promo td, #snoo-kicks td,
#rising-promo td, #rising-kicks td,
#match-table td {
	font-size: 14px;
	color: #4C5C68;
	border-bottom: 1px solid #4C5C68;
	padding: 9px 8px 2px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#members th, #ra-promo th, #ra-kicks th,
#rse-promo th, #rse-kicks th, #snoo-promo th,
#snoo-kicks th, #rising-promo th, #rising-kicks th,
#match-table th {
	font-size: 18px;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid #46494C;
	overflow: hidden;
	text-overflow: ellipsis;
}
#members, #ra-promo, #ra-kicks, #rse-promo,
#rse-kicks, #snoo-promo, #snoo-kicks,
#rising-promo, #rising-kicks, #match-table {
	text-align: left;
	background-color: #C5C3C6;
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #ABABAB;
	color: #8A8A8A;
}

input[type=submit] {
	position: relative;
	top: 20px;
	bottom: 60px;
	font-size: 18px;
	font-weight: bold;
	background-color: #C5C5C5;
	border-radius: 5px;
}
input[type=submit].new-member {
	font-size: 14px;
	top: 0px;
	bottom: 0px;
}
input:hover {
	border-color: #FF9800;
}
input[type=text], input[type=password], input[type=file] {
	background-color: #F0F0F0;
	border-radius: 2px;
	width: 100%;
}

.input-text {
	width: 60%;
	margin: auto;
}

input[type=file] {
	width: 60%;
	margin: auto;
}
.input-container {
	width: 45%;
	margin: auto;
}
.input-container span {
	float: left;
	text-align: right;
	width: 20%;
	line-height: 1.8em;
}
.input-container div {
	margin-right: 4em;
}
.input-container input[type=file] {
	width: 80%;
	float: right;
}

input {
	border: 2px solid #A5A5A5;
	-webkit-transition: border-color 1s ease;
	-moz-transition: border-color 1s ease;
	-o-transition: border-color 1s ease;
	transition: border-color 1s ease;
}
input:focus {
	outline: none !important;
	border-color: #FF9800;
	box-shadow: 0 0 5px #FF9800;
}

#lookup-account {
	width: 40%;
}
.center {
	height: 100%;
	position: relative;
}
.inner {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	overflow: auto;
}
.table-container {
	text-align: center;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
p.form-label {
	display: block;
}
i.small {
	font-size: 12px;
	color: #545454;
}
.hidden {
	display: none;
	background: rgba(0, 0, 0, 0);
}
.invis {
	display: none;
	background: rgba(0, 0, 0, 0);
}
.show {
	background: rgba(0, 0, 0, 0);
}
.edit-text {
	width: 100%;
}

.edit-button, .submit-changes, .new-button {
	width: 80px;
	font-size: 14px;
	background-color: #C5C5C5;
	border: 2px solid #A5A5A5;
	border-radius: 5px;
	-webkit-transition: border-color 1s ease;
	-moz-transition: border-color 1s ease;
	-o-transition: border-color 1s ease;
	trasition: border-color 1s ease;
}
.new-button {
	width: 140px;
}
.edit-button:hover, .submit-changes:hover, .new-button:hover {
	border-color: #FF9800;
}
body {
	background-color: #DCDCDD;
}